# Housing Market

### Introduction:

This time we will create our own dataset with fictional numbers to describe a house market. As we are going to create random data don't try to reason of the numbers.

### Step 1. Import the necessary libraries

In [33]:
import pandas as pd
import numpy as np

### Step 2. Create 3 differents Series, each of length 100, as follows: 
1. The first a random number from 1 to 4 
2. The second a random number from 1 to 3
3. The third a random number from 10,000 to 30,000

In [34]:
s1 = pd.Series(np.random.randint(1,4,100,dtype='l'))
s2 = pd.Series(np.random.randint(1,3,100,dtype='l'))
s3 = pd.Series(np.random.randint(10000,30000,100,dtype='l'))
print(s1,s2,s3)

0     3
1     3
2     2
3     3
4     2
     ..
95    2
96    3
97    2
98    2
99    2
Length: 100, dtype: int32 0     1
1     1
2     2
3     2
4     2
     ..
95    1
96    2
97    1
98    2
99    1
Length: 100, dtype: int32 0     22913
1     21967
2     19999
3     14298
4     14897
      ...
95    17277
96    15932
97    20340
98    22172
99    14239
Length: 100, dtype: int32

### Step 3. Let's create a DataFrame by joinning the Series by column

In [35]:
df = pd.concat([s1,s2,s3],axis=1)
df.head()

   0  1      2
0  3  1  22913
1  3  1  21967
2  2  2  19999
3  3  2  14298
4  2  2  14897

### Step 4. Change the name of the columns to bedrs, bathrs, price_sqr_meter

In [38]:
df.rename(columns= {0:'bedrs',1:'bathrs',2:'price_sqr_meter'},inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   bedrs            100 non-null    int32
 1   bathrs           100 non-null    int32
 2   price_sqr_meter  100 non-null    int32
dtypes: int32(3)
memory usage: 1.3 KB

### Step 5. Create a one column DataFrame with the values of the 3 Series and assign it to 'bigcolumn'

In [52]:
bigcolumn = pd.concat([s1,s2,s3],axis= 0)
bigcolumn = bigcolumn.to_frame()
#print(type(bigcolumn))
bigcolumn.shape

(300, 1)

### Step 6. Oops, it seems it is going only until index 99. Is it true?

In [53]:
bigcolumn.index

Index([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9,
       ...
       90, 91, 92, 93, 94, 95, 96, 97, 98, 99],
      dtype='int64', length=300)

### Step 7. Reindex the DataFrame so it goes from 0 to 299

In [57]:
bigcolumn.reset_index(drop=True,inplace=True)
bigcolumn.index

RangeIndex(start=0, stop=300, step=1)