# Ex2 - Getting and Knowing your Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [309]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

In [310]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'
df =  pd.read_csv(url, sep = '\t')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

### Step 3. Assign it to a variable called chipo.

In [311]:
chipo = pd.DataFrame(df)

### Step 4. See the first 10 entries

In [312]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### Step 5. What is the number of observations in the dataset?

In [313]:
# Solution 1
chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

In [314]:
# Solution 2
chipo.shape[0]

4622

### Step 6. What is the number of columns in the dataset?

In [315]:
chipo.shape[1]

5

### Step 7. Print the name of all the columns.

In [316]:
chipo.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

### Step 8. How is the dataset indexed?

In [317]:
chipo.index

RangeIndex(start=0, stop=4622, step=1)

### Step 9. Which was the most-ordered item?

In [318]:
grp = chipo.groupby("item_name")
grp = grp.sum()
grp = grp.sort_values(["quantity"],ascending=False).loc[:,["quantity"]]
grp.head(1)

              quantity
item_name
Chicken Bowl       761

### Step 10. For the most-ordered item, how many items were ordered?

In [319]:
grp.iloc[0].values[0]

761

### Step 11. What was the most ordered item in the choice_description column?

In [320]:
grp_choice_desc = chipo.groupby("choice_description")
grp_choice_desc = grp_choice_desc.sum()
grp_choice_desc = grp_choice_desc.sort_values(["quantity"],ascending= False)
#grp_choice_desc = grp_choice_desc.loc[:,"quantity"]
grp_choice_desc.head()

,order_id,quantity,item_name,item_price
choice_description,,,,
[Diet Coke],123455,159,Canned SodaCanned SodaCanned Soda6 Pack Soft D...,$2.18 $1.09 $1.09 $6.49 $2.18 $1.25 $1.09 $6.4...
[Coke],122752,143,Canned Soft DrinkCanned Soft DrinkCanned Soft ...,$1.25 $1.25 $1.25 $6.49 $1.25 $1.25 $1.25 $1.2...
[Sprite],80426,89,Canned SodaCanned SodaCanned Soft Drink6 Pack ...,$2.18 $1.09 $1.25 $6.49 $1.25 $1.25 $1.09 $1.2...
"[Fresh Tomato Salsa, [Rice, Black Beans, Cheese, Sour Cream, Lettuce]]",43088,49,Chicken BowlChicken BurritoChicken BowlChicken...,$8.75 $8.75 $8.75 $8.75 $9.25 $8.75 $8.75 $8.7...
"[Fresh Tomato Salsa, [Rice, Black Beans, Cheese, Sour Cream]]",36041,42,Chicken BowlChicken BowlChicken BurritoCarnita...,$17.50 $8.75 $8.75 $9.25 $8.75 $9.25 $8.75 $8....

### Step 12. How many items were orderd in total?

In [321]:
total_item = chipo.groupby("item_name")
total_item = total_item.sum()
total_item = total_item.sort_values("quantity", ascending = False)
total_item["quantity"].aggregate("sum")
#total_item.aggregate({"quantity":"sum"}).info()

4972

### Step 13. Turn the item price into a float

#### Step 13.a. Check the item price type

In [322]:
 chipo.item_price.dtype

dtype('O')

#### Step 13.b. Create a lambda function and change the type of item price

In [323]:
dolarizer = lambda x: float(x[1:-1])
chipo.item_price = chipo.item_price.apply(dolarizer)

#### Step 13.c. Check the item price type

In [324]:
chipo.item_price.dtype

dtype('float64')

### Step 14. How much was the revenue for the period in the dataset?

In [325]:
total_rev = chipo["quantity"]*chipo["item_price"]
total_rev.sum()

39237.02

### Step 15. How many orders were made in the period?

In [326]:
chipo.order_id.value_counts().count()

1834

### Step 16. What is the average revenue amount per order?

In [332]:
# Solution 1
chipo['revenue'] = chipo['item_price'] * chipo ['quantity']
grpd = chipo.groupby( by = ['order_id']).sum(numeric_only=True)
grpd.mean()['revenue']

21.39423118865867

In [339]:
# Solution 2
(chipo['item_price'] * chipo ['quantity']).sum() / chipo.order_id.value_counts().count()

21.39423118865867

### Step 17. How many different items are sold?

In [347]:
different_items = chipo.groupby("item_name")
different_items = different_items.sum()
different_items.shape[0]

50